/* button{
  margin: 0 1em;
  border-radius: 20px;
  padding: 1em;
  background-color: aquamarine;
  border: none;
  font-weight: bold;
}
.finder{
  display: flex;
  justify-content: center;
  align-items: center;
} */