picture {
  /* padding: 0.1em;
  margin: auto;*/
  width: 100% !important;
  height: auto !important;
  
  animation: collapse ease-in-out 1.5s;
  animation-fill-mode: backwards;
}

@keyframes collapse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
picture img {
  border: 10px solid transparent;
  border-radius: 20px;
  width: 100% !important;
  height: auto !important;
  animation: collapse ease-in-out 1s;
  animation-fill-mode: both;
}
