picture {
  /* padding: 0.1em;
  margin: auto;*/
  width: 100% !important;
  height: auto !important;

}

@keyframes collapse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
picture img {
  border: 10px solid transparent;
  border-radius: 17px;
  width: 100% !important;
  height: auto !important;
}
.img-spinner{
  height: 3em;
  width: 3em;
  position: static;
  margin: auto;
  margin-right: -2.45em;
  /* 
  margin-left: -.5em; */
}