@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
:root {
  --ColorBackground2: #282c34;
  --ColorBackground: #0b0c0f;
  --ColorBackground2: #515969;
  --ColorBackgroundHover: #7b8291e3;
}
body {
  width: 98%;
  margin: auto;
  background: linear-gradient(to top, var(--ColorBackground) 0%, var(--ColorBackground2) 100%);
  color: white;
}
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin: 0 1em;
  border-radius: 20px;
  padding: 1em;
  background-color: #7fffd4;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: var(--ColorBackground2);
}

input {
  width: 200px;
  height: 40px;
  border: 0px solid transparent;
  border-radius: 20px;
  padding: 0 1em;
  font-size: 1em;
  color: var(--ColorBackground);
}
input:focus {
  outline: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes collapse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container-cards {
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-count: 2;
  -moz-column-gap: 0;
  column-count: 2;
  column-gap: 0;
  animation: collapse ease-in-out 2s;
  animation-fill-mode: both;
}
a {
  color: aquamarine;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9em;
}
a:hover {
  color: var(--ColorBackgroundHover);
}
h2 {
  font-weight: 400;
}
.spinner {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: -1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}
/*Responsive*/

@media screen and (min-width: 480px) {
  input {
    width: 300px;
  }
}

@media screen and (min-width: 720px) {
  input {
    width: 500px;
  }
  .container-cards {
    line-height: 0;

    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
  }
}
@media screen and (min-width: 1024px) {
  input {
    width: 500px;
  }
  .container-cards {
    text-align: center;
    line-height: 0;

    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 0px;
  }
}
@media screen and (min-width: 1150px) {
  input {
    width: 500px;
  }
  .container-cards {
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
  }
  .quick-finder {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .quick-finder > a {
    margin-top: 0em;
  }
  picture {
    height: 250px;
    width: 250px;
  }
  picture img {
    height: 250px;
    width: 250px;
    object-fit: contain;
  }
}
@media screen and (min-width: 2050px) {
  input {
    width: 700px;
  }
  .container-cards {
    line-height: 0;

    -webkit-column-count: 7;
    -webkit-column-gap: 0px;
    -moz-column-count: 7;
    -moz-column-gap: 0px;
    column-count: 7;
    column-gap: 0px;
  }
}
